// TRANSLATE VERSION

$color: rgb(139, 217, 255);
//$color: #8BD9FF;

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  animation: #{$str};
}



@mixin content($value, $valueTop1, $valueTop2) {

  @for $i from 0 through 10 {
    $valueLeft:#{$i*$value};
    #{$i*10%} {
      // transform:translateX($valueLeft);
      @if $i%2 == 0 {
        transform:translateX($valueLeft) translateY($valueTop2);
        z-index:10;
      } @else {
        transform:translateX($valueLeft) translateY($valueTop1);
        z-index:20;
      }
    }
  }
}


@include keyframes(movement1) {
  @include content(300%, 5px, 395px);
}
@include keyframes(movement2) {
  @include content(300%, 395px, 5px);
}
@include keyframes(opac) {
  0% {
    opacity:1;
    z-index:10;
  }
  100% {
    opacity:0;
    z-index:-10;
  }
}


body {
  margin:20px 0px;
  font-family: 'Slabo 27px', serif;
  background: #c5c5c5;
  header {
    background: grayscale($color);
    width:100%;
    height:60px;
    float:left;
    padding:18px 0px;
    h1 {
    padding: 15px;
    font-size: 1.8em;
    float:left;
  }
  nav {
    float:right;
    margin: 5px 5px 5px 15px;
    button {
      padding: 10px;
      border-radius:15px;
      font-size:1.2em;
      font-family: 'Slabo 27px', serif;
      border: none;
      &:first-of-type{
        background:darken($color, 30%);
      }
      &:last-of-type {
        background:lighten(invert($color), 10%);
     	 }
      }
    }
  }
}

    div {
      clear:both;
      position: relative;
      width:100%;
      height:500px;
      background: black;
      overflow: hidden;
      p {
        font-size:1.8em;
        color:#c5c5c5;
        opacity:1;
        position:absolute;
         top: 222px;
 		 left: 42%;
        @include animation('opac 2.2s ease-in forwards');
      }
      div {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position: absolute;
      top:5px;
      left: -100px;
      &:nth-of-type(1) {
        background: $color;
      }
      &:nth-of-type(2) {
        background: complement($color);
      }&:nth-of-type(3) {
        background: grayscale($color);
      }
      &:nth-of-type(4) {
        background: darken($color, 30%);
      }
      &:nth-of-type(5) {
        background: darken($color, 50%);
      }
      &:nth-of-type(6) {
        background: invert($color);
      }
      &:nth-of-type(7) {
        background: lighten($color, 20%);
      }
      &:nth-of-type(8) {
        background: mix($color, invert($color));
      }
      &:nth-of-type(9) {
        background: mix($color, lighten($color, 20%));
      }
      &:nth-of-type(10) {
        background: mix($color, darken($color, 50%));
      }
     }
    }


  @for $i from 0 through 10 {
  div div:nth-of-type(#{$i}) {
    @if $i%2 == 0 {
      @include animation('movement1 20s linear infinite');
    } @else {
      @include animation('movement2 20s linear infinite');
    }
    animation-delay:#{$i*2.5s};
  }
}



@media all and (max-width: 520px) {
 body {
   header {
     h1 {
       padding: 0px 0px 0px 15px;
     }
     nav {
       float:left;
     }
   }
   div {
     height:477px;
     p {
       font-size:1.4em;
     }
     div {
     	width:85px;
     	height:85px;
     }
   }
 }
}


// $color: rgb(139, 217, 255);
// //$color: #8BD9FF;
//
// @mixin keyframes($animation-name) {
//     @-webkit-keyframes #{$animation-name} {
//         @content;
//     }
//     @keyframes #{$animation-name} {
//         @content;
//     }
// }
//
// @mixin animation($str) {
//   -webkit-animation: #{$str};
//   animation: #{$str};
// }
//
//
//
// @mixin content($value, $valueTop1, $valueTop2) {
//
//   @for $i from 0 through 10 {
//     $valueLeft:#{$i*$value};
//     #{$i*10%} {
//       left:$valueLeft;
//       @if $i%2 == 0 {
//         top:$valueTop2;
//         z-index:10;
//       } @else {
//         top:$valueTop1;
//         z-index:20;
//       }
//     }
//   }
// }
//
//
// @include keyframes(movement1) {
//   @include content(10%, 5px, 395px);
// }
// @include keyframes(movement2) {
//   @include content(10%, 395px, 5px);
// }
// @include keyframes(opac) {
//   0% {
//     opacity:1;
//     z-index:10;
//   }
//   100% {
//     opacity:0;
//     z-index:-10;
//   }
// }
//
//
// body {
//   margin:20px 0px;
//   font-family: 'Slabo 27px', serif;
//   background: #c5c5c5;
//   header {
//     background: grayscale($color);
//     width:100%;
//     height:60px;
//     float:left;
//     padding:18px 0px;
//     h1 {
//     padding: 15px;
//     font-size: 1.8em;
//     float:left;
//   }
//   nav {
//     float:right;
//     margin: 5px 5px 5px 15px;
//     button {
//       padding: 10px;
//       border-radius:15px;
//       font-size:1.2em;
//       font-family: 'Slabo 27px', serif;
//       border: none;
//       &:first-of-type{
//         background:darken($color, 30%);
//       }
//       &:last-of-type {
//         background:lighten(invert($color), 10%);
//      	 }
//       }
//     }
//   }
// }
//
//     div {
//       clear:both;
//       position: relative;
//       width:100%;
//       height:500px;
//       background: black;
//       overflow: hidden;
//       p {
//         font-size:1.8em;
//         color:#c5c5c5;
//         opacity:1;
//         position:absolute;
//          top: 222px;
//  		 left: 42%;
//         @include animation('opac 2.2s ease-in forwards');
//       }
//       div {
//       width: 100px;
//       height: 100px;
//       border-radius: 50%;
//       position: absolute;
//       top:5px;
//       left: -100px;
//       &:nth-of-type(1) {
//         background: $color;
//       }
//       &:nth-of-type(2) {
//         background: complement($color);
//       }&:nth-of-type(3) {
//         background: grayscale($color);
//       }
//       &:nth-of-type(4) {
//         background: darken($color, 30%);
//       }
//       &:nth-of-type(5) {
//         background: darken($color, 50%);
//       }
//       &:nth-of-type(6) {
//         background: invert($color);
//       }
//       &:nth-of-type(7) {
//         background: lighten($color, 20%);
//       }
//       &:nth-of-type(8) {
//         background: mix($color, invert($color));
//       }
//       &:nth-of-type(9) {
//         background: mix($color, lighten($color, 20%));
//       }
//       &:nth-of-type(10) {
//         background: mix($color, darken($color, 50%));
//       }
//      }
//     }
//
//
//   @for $i from 1 through 10 {
//   div div:nth-of-type(#{$i}) {
//     @if $i%2 == 0 {
//       @include animation('movement1 20s linear infinite');
//     } @else {
//       @include animation('movement2 20s linear infinite');
//     }
//     animation-delay:#{$i*2.5s};
//   }
// }
//
//
//
// @media all and (max-width: 520px) {
//  body {
//    header {
//      h1 {
//        padding: 0px 0px 0px 15px;
//      }
//      nav {
//        float:left;
//      }
//    }
//    div {
//      height:477px;
//      p {
//        font-size:1.4em;
//      }
//      div {
//      	width:85px;
//      	height:85px;
//      }
//    }
//  }
// }
